<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Tip Calculator{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-left">
        <a href="/">Calculator</a>
        <a href="/history">History</a>
      </div>
      <div class="nav-right">
        {% if session['username'] %}
        <span class="user">Logged in as <b>{{ session['username'] }}</b></span>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {% endif %}
      </div>
    </nav>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% for
      category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
