<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tip Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h2><b>TIP CALCULATOR</b></h2>
        <div class="href">     
            <a href="/logout">Logout</a>
            <a href="/history">History</a>
        </div>
    </header>
    
    <form method="POST">
        <label style="color:#333333;">Bill Amount:</label>
        <input type="number" step="1.0" name="bill" required><br>
        <label style="color:#333333;">Tip Percentage:</label>
        <input type="number" step="1.0" name="tip_percent" value="15" required><br>
        <label style="color:#333333;">Number of People:</label>
        <input type="number" name="people" value="1" required><br>
        <button type="submit">Calculate</button>
        

        <div class="results">
            {% if tip %}
                <h3>RESULTS:</h3>
                <p>Bill: {{ bill }}</p>
                <p>Total: {{ tip }}</p>
                <p>Total Amount: {{ total }}</p>
                <p>Each Pays: {{ per_person }}</p>
            {% endif %}
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <p style="color:green;">{{ message }}</p>
            {% endfor %}
        {% endwith %}
    
</body>
</html>
